

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/











body, textarea, div, button, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.task__list, .add__Task__Container{
  display: flex;
  max-width: 960px;
  margin: 21px auto;
}
.task__list{
  flex-direction: column;
}

.add__Task__Textarea{
  width: 100%;
  border: 1px solid #222;
}

.add__Task__Btn{
  padding: 12px;
  white-space: nowrap;
}




.act__list{
  margin: 6px 0;
  background-color: rgb(223, 223, 223);
  width: 100%;

}
.act__list article{
  display: flex;
  padding: 8px;
}
.actTaskArticle:hover p{
  text-decoration: line-through;
}
.compTaskArticle p{
  text-decoration: line-through;

}
.compTaskArticle:hover p {
  text-decoration: none;
}
.delBtn{
  padding: 8px;
  background-color: rgb(150, 63, 63);
  color: aliceblue;
}
.editBtn{
  padding: 8px;
  background-color: rgb(66, 66, 66);
  color: aliceblue;
}
.actTaskText, .compTaskText{
  width: 100%;
}
.comp__list{
  margin: 6px 0;
  background-color: rgb(121, 211, 125);
  width: 100%;

}
.comp__list article {
  display: flex;
  padding: 8px;
}



.popupWrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.253);
}

.popup{
  background-color: #fff;
  padding: 12px;
  height: fit-content;
  margin: 12px;
}
.changedTask{
  display: block;
}


.changedTaskTextarea{
  width: 100%;
  margin: 12px 0;
  border: 1px solid #000;
}

.editBtns{
  display: flex;
  justify-content: space-between;
}
.changeTaskBtn{
  padding: 8px;
  background-color: rgb(72, 175, 59);
  color: #fff;
}
.cancelChangeBtn{
  padding: 8px;
  background-color: rgb(175, 59, 59);
  color: #fff;
}

.successChange{
  display: block;
  padding: 8px;
  width: 100%;
  margin: 12px 0;
  background-color: rgb(72, 175, 59);
  color: #fff;
}
.errorChange{
  display: block;
  padding: 8px;
  width: 100%;
  margin: 12px 0;
  background-color: rgb(175, 59, 59);
  color: #fff;
}